<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>990211254758-mb2rv01h4c2fhl52dbst1j8hk1ojere1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990211254758-mb2rv01h4c2fhl52dbst1j8hk1ojere1</string>
	<key>API_KEY</key>
	<string>AIzaSyCEV_oWm7PzIY8DiRoH0IMbQohteJEpI-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>990211254758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DC.Uber-App-For-Driver</string>
	<key>PROJECT_ID</key>
	<string>ubertesterapp-b7621</string>
	<key>STORAGE_BUCKET</key>
	<string>ubertesterapp-b7621.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:990211254758:ios:1faf656aefc0ba2f</string>
	<key>DATABASE_URL</key>
	<string>https://ubertesterapp-b7621.firebaseio.com</string>
</dict>
</plist>